@use 'variables' as *;
@use 'bootstrap/scss/bootstrap' with (
  $body-bg: $body-bg,
  $font-family-base: $font-family-sans-serif,
  $font-size-base: $font-size-base,
  $line-height-base: $line-height-base
);
